/* Custom styles for dark theme */
body[data-bs-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}

body[data-bs-theme="dark"] .nav-link {
    color: #ffffff;
}

body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

body[data-bs-theme="light"] .nav-link {
    color: #000000;
}
